.img_container{
    position: relative;
    height:80vh;
}
.dog_img{
    width: 100%;
    height:80vh;
    object-fit: cover;
}
.dog_button{
    position: relative;
    top:-70vh;
    left: 10%;
    padding: 15px 25px;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    background-color:white;
    border: 3px solid #000000;
    cursor:pointer;
    transition: 0.25s ease-in-out;
}
.dog_button:hover{
    color: white;
    background-color: #000000;
}
.cat_img{
    width: 100%;
    height:80vh;
    object-fit: cover;
}
.cat_button{
    position: relative;
    bottom:10vh;
    left: 90%;
    padding: 15px 25px;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    background-color:white;
    border: 3px solid #000000;
    cursor:pointer;
    transition: 0.25s ease-in-out;
}
.cat_button:hover{
    color: white;
    background-color: #000000;
}